form * {
  font-size: 0.875rem;
}

input, textarea {
  display: block;
  margin: 1rem;
  width: 90%;
  padding: 0.25rem;
}
button {
  padding: 0.5rem;
  background-color: $link;
  color: #fff; 
  margin: 0 1rem;
  border-radius: 3px;
  border: none;
}