.site-wrap {
  max-width: 90vw;
  margin: 20px auto;
  background: white;;
  // padding: 20px 0;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
  transform: scale(0.98);
  transition: transform 0.5s;
}

.recipe-preview {
  padding: 1rem;
  // background: white;
  border-bottom: 1rem solid $badass;
  h2 {
    margin-bottom: 0.5rem;
   a {
    color: $link;
  }
}
  p {
    margin: 1rem 0;
  }
}

body.fixed-nav .site-wrap {
  transform: scale(1);
}