<h1>Pirates</h1>
<ul>
    <li ng-repeat="pirate in $ctrl.pirates" class="fade" ng-class="{ even: $even, odd: $odd }">
        <a href="#!/pirates/{{ pirate._id }}">{{ pirate.name }} //  {{ pirate._id }}</a>
        <span ng-click="$ctrl.deletePirate($index, pirate._id)">X</span>
    </li>
</ul>

<form ng-submit="$ctrl.addPirate(pirate)" name="addform" novalidate>
    <input type="text" ng-model="pirate.name" placeholder="Name" ng-minlength="4" ng-required="true" name="pname" />
    <p class="error" ng-show="addform.pname.$invalid && addform.pname.$touched"">You must enter a name.</p>
    <input type="text" ng-model="pirate.vessel" placeholder="Vessel" ng-required="true" name="pvessel" />
    <p class="error" ng-show="addform.pvessel.$invalid && addform.pname.$touched"">You must enter a vessel ;-)</p>
    <input type="text" ng-model="pirate.weapon" placeholder="Weapon" ng-required="true" name="pweapon" />
    <p class="error" ng-show="addform.pweapon.$invalid && addform.pname.$touched">You must enter a weapon.</p>
    <button type="submit" ng-disabled="addform.$invalid">Add Pirate</button>
</form>








